 <style>

.flex-container {
  display: flex;
  justify-content: center;
} 
</style>
	<div class="flex-container">
                       <div class="left-container" style="width:30%">
                       <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
                             <h2 class="titular">MENU BOX</h2>
                                <ul class="menu-box-menu">
                                    <li>
                                        <a class="menu-box-tab" href="/admin"><span class="icon fontawesome-envelope scnd-font-color"></span>Admin</a>                            
                                    </li>
                                    <li>
                                        <a class="menu-box-tab" href="/edit_profile"><span class="icon fontawesome-envelope scnd-font-color"></span>Edit Profile</a>                            
                                    </li>
                                    <li>
                                        <a class="menu-box-tab" href="/find_friends"><span class="icon entypo-paper-plane scnd-font-color"></span>Find Friends</a>                            
                                    </li>
                                    <li>
                                        <a class="menu-box-tab" href="/my_hobbies/{{username}}"><span class="icon entypo-calendar scnd-font-color"></span>Hobbies</a>                            
                                    </li>
                                     <!--<div class="menu-box-number">5</div> -->
                                    <li>
                                        <a class="menu-box-tab" href="/groups"><span class="icon entypo-cog scnd-font-color"></span>Groups</a>
                                    </li>
                                </ul>
                          </div>   
                    </div>

                                  <!-- MIDDLE-CONTAINER -->
            <div class="middle-container " style="width:33%">
                <div class="profile block"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
                    <div class="profile-picture big-profile-picture clear">  
                        <img width="150px" alt="picture" src="{{pic}}" />
                    </div>
                    <h1 class="user-name">{{user.username}}</h1>
                    <div class="profile-description">
                        <p class="scnd-font-color">{{#each Hobbies}} {{hobby}}{{/each}}</p>
                    </div>
                    <ul class="profile-options horizontal-list">
                        <li><a class="comments" href="#40"><p><span class="icon  scnd-font-color"></span></li></p></a>
                        <li><a class="views" href="#41"><p><span class="icon fontawesome-eye-open scnd-font-color"></span></li></p></a>
                        <li><a class="likes" href="/my_friends"><p><span class="icon fa fa-users scnd-font-color"></span>{{Buddies.length}}</li></p></a>
                    </ul>
                </div>
            </div>


                                <!-- RIGHT-CONTAINER -->
            <div class="right-container " style="width:30%">
                             <div class="menu-box block"> 
                               <h2 class="titular">Challenge You</h2>
                               <ul class="menu-box-menu">
                                   <li>
                                      <a class="menu-box-tab" href="/videos"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>Challenges</a>
                                  </li>
                                   <li>
                                      <a class="menu-box-tab" href="/describe_challenge"><sapn class="icon entypo-chart-line scnd-font-color"></sapn>Create Challenge</a>
                                   </li>
                                 </ul>
                             </div>
             </div>

           
 </div>
    